<%- include('header.ejs') %>
    <main>
        <h1>Rio Abaixo/Rio Acima</h1>
        <div>
            <form action='/home' method='post' class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="txtAddJogador">Nome do Jogador: </label>
                        <input name="jogador" type="text" id="txtAddJogador" class="pure-u-1-4" />
                    </div>
                </fieldset>
                <button type="submit" class="pure-button pure-button-primary" id="btnAddJogador">Adicionar
                    Jogador</button>
            </form>
            <div style="display: flex; ">
                <table class="pure-table" style="margin: 1vh auto;">
                    <thead>
                        <tr>
                            <th>Selecione</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% nomes.forEach(usuario=> { %>
                            <tr>
                                <td id="nome">
                                    <%= usuario.nome %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <table class="pure-table" style="margin: 5vh auto;">
                    <thead>
                        <tr>
                            <th>Mesa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="jogadores">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="./js/configuracaoJogadores.js"></script>

    <%- include('footer.ejs') %>