<%- include('header.ejs') %>

    <main>
        <div class="tab">

        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="nextBtn" onclick="nextPrev(1)">OK</button>
            </div>
        </div>

    </main>

    <%- include('footer.ejs') %>