<%- include('header.ejs') %>

    <main>
        <div class="tab">
            <h1>Jogador 1</h1>
        </div>
        <div class="tab">
            <h1>Jogador 2</h1>
        </div>
        <div class="tab">
            <h1>Jogador 3</h1>
        </div>
        <div class="tab">
            <h1>Jogador 4</h1>
        </div>



        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="nextBtn" onclick="nextPrev(1)">OK</button>
            </div>
        </div>

    </main>

    <script type="text/javascript" src="./js/partidaConfig.js"></script>

    <%- include('footer.ejs') %>