* {
    padding: 0;
    margin: 0;
}

main {
    margin: 10vh auto;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    font-size: large;
    margin: 3vh auto ;
    list-style-type: none;

}